body, html{
height: 100%;
font-family: 'Montserrat', sans-serif;
}
.wrapper{
    width: 1170px;  
    margin: 0 auto; 
    height: 100%;
    position: relative;
    /* height:720px; */
}
.main-page{
    height:100%;
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    display: flex;
    flex-direction: column;
}
header{
    margin-top: 34px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    }
.logo-text{
  margin-left: 18px;  
}
.main-page-row{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.banderogouse-container{
    background: #FFFFFF;
    padding: 60px 56px;
    align-self: center;
}
.banderogouse-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1B1D1F;
    }
.banderogouse-greating{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 16px;
}  
.banderogouse-start-text{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #FF6B0A;
    margin-bottom: 48px;
}
.banderogouse-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-top: 24px;
    margin-bottom: 48px;
}
.banderogouse-launch{
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
.banderogouse-image{
    align-self: flex-end;
}
.ukr-logo{
    
}
.gouse-facts{
  padding: 52px 0 72px 0;
  display:flex;
 flex-direction: column; 
  align-items: center; 
  }
.gouse-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1B1D1F;
    margin: 16px 0;
    
}
.gouse-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1B1D1F;
    width:875px;

}
.gouse-facts-container{
    width:1170px;
    display:flex;
    justify-content: space-between;

}
.gouse-fact-item {
    width:33.33%;

}
.gouse-fact-img {
    width:374px;
}
.gouse-fact-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1B1D1F;
    margin:12px 0 32px 0;
    padding-left: 42px;
}
.gouse-fact-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    width: 280px;
    padding-left: 42px;
}
.victory-footer{
    display: flex;
    justify-content: center;
}
.victory-bgc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1170px; 
    padding: 72px 0px;
    background: linear-gradient(270deg, #C1E8FF 0%, #FFFFFF 100%);  
    margin-bottom: 72px;
    }
.victory-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1B1D1F;
    margin: 16px 0px; 
}
.victory-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1B1D1F;
    width:875px;
    text-align: center;
}

.modal-bgd{
    position: fixed;
     top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: flex;
    background: rgb(27 29 31 /70%);
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
.modal-form{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.modal-form-conteiner{
    position: relative;
    background: #FFFFFF;
    padding: 32px 92px 60px 92px;
}
.modal-form-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin: 32px 0px 12px 0px;
}
.modal-form-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;
    
}
.modal-form-field{
width: 100%;
display: flex;
flex-direction: column;
margin-bottom: 16px;
}
.modal-field-name{
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

}
.modal-field-input{
    border: 1px solid #005BBB;
    border-radius: 8px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 4px 8px;
}
.modal-form-btn{
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
    margin-top: 24px;
}
    .close-btn{
        position: absolute;
        font-weight: 600;
        right: 24px;
        top: 24px;
        font-size: 20px;
        color: #1B1D1F;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }
    .modal-descr{
    margin-bottom: 0;
    }

.modal-active{
    opacity: 1;
    pointer-events: all;
}
.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}